html
    body
        center
            h3 #{errmsg}
            form(action=backUrl method="post")
                input(style='background-color: orange; width: 6em; height: 2em' type="submit" value="Home")